html,
body {
  height: 100%;
}

body {
  /* display: -ms-flexbox; */
  /* display: -webkit-box; */
  display: flex;
  /* -ms-flex-align: center; */
  /* -ms-flex-pack: center; */
  /* -webkit-box-align: center; */
  align-items: center;
  /* -webkit-box-pack: center; */
  justify-content: center;
  /* padding-top: 40px; */
  /* padding-bottom: 300px; */
  background-color: #ebebed;
  /* font-family: "Trebuchet MS"; */
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #b7212a !important;
  border-color: #bebfc3 !important;
  color: #fefefe !important;
}

.input-group-text, .btn-primary:active {
  background-color: #272727;
  color: #fefefe;
}

.loader {
  /* border: 16px solid black; */
  border-top: 25px solid #fefefe; 
  border-bottom: 25px solid #fefefe;
  border-right: 25px solid #272727;
  border-left: 25px solid #272727;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  animation: spin 0.6s linear infinite;
  /* display:inline-block; */
}

.pending {
    animation: blink 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform:rotate(360deg); }
  /* 0% { transform: rotate3d(1, 1, 1, 0deg); }
  100% { transform:rotate3d(1, 1, 1, 360deg); } */
}

@keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }

.card-title {
  color: #272727;
}

.card {
  border-color: #6d6c72;
  height: 105px;

}

.card:after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #272727;
  z-index: -1;
  border-radius: 5px;
}

.game-code {
  /* font-family: "haettenschweiler"; */
  font-size: 25px;
  font-weight: bold;
  text-shadow: 0px 1px #fefefe, 0px 2px #b7212a;
  color: #272727;
}

.error {
  border:2px solid red;
}

.label-big {
  font-size: 40px;
}

.div-padded {
  padding-bottom: 25px;
}

.show-border {
  border: 2px solid green;
}
.show-border2 {
  border: 2px solid red;
}


.scrollable {
  /* position: fixed; */
  overflow-y: scroll;
  /* height: 200px; */
}



div#preload { display: none; }

/*.input-group {
  border: 2px solid green;
  width: 100%;
  max-width: 600px;
  margin-bottom: 10px;
  
} */

